@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Open Sans Condensed", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}
